In [1]:
import pandas as pd

### 4

In [2]:
illiteracy = pd.read_csv('illiteracy.txt', sep='\t')
illiteracy.head()

   Country  Illit  Births
0  Albania   20.5    1.78
1  Algeria   39.1    2.44
2  Bahrain   15.0    2.34
3   Belize    5.9    2.97
4    Benin   73.5    5.60

In [5]:
round(illiteracy['Illit'].corr(illiteracy['Births']), 4)

0.7687

### 5

In [6]:
round(illiteracy['Illit'].corr(illiteracy['Births'], method='spearman'), 4)

0.753