In [1]:
import pandas as pd
from statsmodels.stats.weightstats import _tconfint_generic
import numpy as np
from scipy.stats import norm

In [2]:
water = pd.read_csv('water.txt', sep='\t')
water.head()

  location        town  mortality  hardness
0    South        Bath       1247       105
1    North  Birkenhead       1668        17
2    South  Birmingham       1466         5
3    North   Blackburn       1800        14
4    North   Blackpool       1609        18

## 2

In [3]:
mortality_mean = water['mortality'].mean()
n = water.shape[0]
mortality_std = water['mortality'].std()/np.sqrt(n)

interval = _tconfint_generic(mortality_mean, mortality_std, n-1, 0.05, 'two-sided')
print(interval)
print(round(interval[0], 4))

(1476.0833413552848, 1572.2117406119285)
1476.0833

## 3

In [4]:
south_mortality_mean = water.loc[water['location'] == 'South', 'mortality'].mean()
n = water[water['location'] == 'South'].shape[0]
south_mortality_std = water.loc[water['location'] == 'South', 'mortality'].std()/np.sqrt(n)

interval = _tconfint_generic(south_mortality_mean, south_mortality_std, n-1, 0.05, 'two-sided')
print(interval)
print(round(interval[1], 4))

(1320.1517462936238, 1433.463638321761)
1433.4636

## 4

In [5]:
north_mortality_mean = water.loc[water['location'] == 'North', 'mortality'].mean()
n = water[water['location'] == 'North'].shape[0]
north_mortality_std = water.loc[water['location'] == 'North', 'mortality'].std()/np.sqrt(n)

interval = _tconfint_generic(north_mortality_mean, north_mortality_std, n-1, 0.05, 'two-sided')
print(interval)

(1586.5605251961385, 1680.6394748038613)

## 5

In [6]:
south_hardness_mean = water.loc[water['location'] == 'South', 'hardness'].mean()
n = water[water['location'] == 'South'].shape[0]
south_hardness_std = water.loc[water['location'] == 'South', 'hardness'].std(ddof=1)/np.sqrt(n)

interval = _tconfint_generic(south_hardness_mean, south_hardness_std, n-1, 0.05, 'two-sided')
print(interval)

(53.467198692036106, 86.07126284642544)

In [7]:
north_hardness_mean = water.loc[water['location'] == 'North', 'hardness'].mean()
n = water[water['location'] == 'North'].shape[0]
north_hardness_std = water.loc[water['location'] == 'North', 'hardness'].std(ddof=1)/np.sqrt(n)

interval = _tconfint_generic(north_hardness_mean, north_hardness_std, n-1, 0.05, 'two-sided')
print(interval)

(21.42248728572426, 39.37751271427574)

## 6

In [8]:
np.ceil((norm.ppf(1-0.05/2) / 0.1)**2)

385.0