In [136]:
import pandas as pd
from scipy import stats
from statsmodels.sandbox.stats.multicomp import multipletests

In [137]:
df = pd.read_csv('gene_high_throughput_sequencing.csv')
df.head()

                  Patient_id Diagnosis  LOC643837  ...  CYorf15B     KDM5D    EIF1AY
0  STT5425_Breast_001_normal    normal   1.257614  ...  1.257614  1.257614  1.257614
1  STT5427_Breast_023_normal    normal   4.567931  ...  1.815112  1.815112  1.815112
2  STT5430_Breast_002_normal    normal   2.077597  ...  2.077597  2.077597  2.077597
3  STT5439_Breast_003_normal    normal   2.066576  ...  2.066576  2.066576  2.066576
4  STT5441_Breast_004_normal    normal   2.613616  ...  1.364917  1.364917  1.364917

[5 rows x 15750 columns]

In [138]:
df.shape

(72, 15750)

In [139]:
normal = df[df['Diagnosis'] == 'normal']
early_neoplasia = df[df['Diagnosis'] == 'early neoplasia']
cancer = df[df['Diagnosis'] == 'cancer']

## Часть 1: применение t-критерия Стьюдента

In [140]:
def get_ssd_student(control, treatment):
    gens = control.columns[2:]
    data = []
    for gen in gens:
        control_gen = control.loc[:, gen]
        treatment_gen = treatment.loc[:, gen]
        T, p_value = stats.ttest_ind(control_gen, treatment_gen, equal_var=False)
        if p_value < 0.05:
            data.append([gen, p_value])
    ssd = pd.DataFrame.from_records(data)
    ssd.columns = ['gen', 'p-value']
    return ssd

In [141]:
ssd_student_1 = get_ssd_student(normal, early_neoplasia)

In [142]:
ssd_student_1.head()

            gen   p-value
0  LOC100130417  0.000032
1        KLHL17  0.049876
2          HES4  0.023712
3          AGRN  0.037933
4      C1orf159  0.020002

In [143]:
ssd_student_1.shape[0]

1575

In [144]:
ssd_student_2 = get_ssd_student(early_neoplasia, cancer)

In [154]:
ssd_student_2.head()

        gen   p-value
0   PLEKHN1  0.007681
1     ISG15  0.000740
2    TTLL10  0.006844
3  TNFRSF18  0.002094
4   B3GALT6  0.031126

In [145]:
ssd_student_2.shape[0]

3490

## Часть 2: поправка методом Холма

In [146]:
def fold_change(C, T):
    if T > C:
        return T/C
    return -C/T

In [147]:
def get_sapsd(control, treatment, method, p_value=0.05):
    gens = control.columns[2:]
    data = []
    for gen in gens:
        control_gen = control.loc[:, gen]
        treatment_gen = treatment.loc[:, gen]
        T, p_value = stats.ttest_ind(control_gen, treatment_gen, equal_var=False)
        data.append([gen, p_value, control_gen.mean(), treatment_gen.mean()])
    ssd = pd.DataFrame.from_records(data)
    ssd.columns = ['gen', 'p_value', 'control_mean', 'treatment_mean']
    reject, p_corrected, a1, a2 = multipletests(ssd['p_value'].values, alpha = 0.025, method = method)
    ssd['p_value_corrected'] = p_corrected
    ssd['reject'] = reject
    ssd = ssd[ssd['reject'] == 1]
    ssd['fold_change'] = ssd.apply(lambda x: fold_change(x.control_mean, x.treatment_mean), axis=1)
    ssd = ssd[abs(ssd['fold_change']) > 1.5]
    return ssd

In [148]:
sapsd_holm_1 = get_sapsd(normal, early_neoplasia, 'holm', 0.025)

In [149]:
sapsd_holm_1.head()

         gen       p_value  ...  reject  fold_change
7244   PCSK4  7.955435e-07  ...    True     1.509785
9820  EEF1A2  8.498742e-08  ...    True     1.974868

[2 rows x 7 columns]

In [150]:
sapsd_holm_1.shape[0]

2

In [151]:
sapsd_holm_2 = get_sapsd(early_neoplasia, cancer, 'holm', 0.025)

In [152]:
sapsd_holm_2.head()

          gen       p_value  ...  reject  fold_change
47      GABRD  2.276043e-07  ...    True     1.843860
283     EXTL1  1.087046e-07  ...    True    -2.383210
316   CD164L2  1.002085e-06  ...    True    -1.997381
1105      NES  1.041679e-07  ...    True    -1.693428
1238     FMO2  1.103311e-06  ...    True    -1.795640

[5 rows x 7 columns]

In [153]:
sapsd_holm_2.shape[0]

77

## Часть 3: поправка методом Бенджамини-Хохберга

In [155]:
sapsd_fdr_bh_1 = get_sapsd(normal, early_neoplasia, 'fdr_bh', 0.025)

In [156]:
sapsd_fdr_bh_1.head()

          gen       p_value  ...  reject  fold_change
4627  TMEM63C  2.222228e-06  ...    True     1.663826
7244    PCSK4  7.955435e-07  ...    True     1.509785
8250   CACNG8  2.015472e-06  ...    True     1.754951
9820   EEF1A2  8.498742e-08  ...    True     1.974868

[4 rows x 7 columns]

In [157]:
sapsd_fdr_bh_1.shape[0]

4

In [158]:
sapsd_fdr_bh_2 = get_sapsd(early_neoplasia, cancer, 'fdr_bh', 0.025)

In [159]:
sapsd_fdr_bh_2.head()

       gen       p_value  control_mean  ...  p_value_corrected  reject  fold_change
8    ISG15  7.402400e-04     37.296084  ...           0.017556    True     2.458867
47   GABRD  2.276043e-07      7.224275  ...           0.000086    True     1.843860
75   AJAP1  7.993294e-04      4.861378  ...           0.018270    True    -1.567814
104    CA6  7.806213e-04      2.985346  ...           0.018078    True    -1.736762
127  MASP2  9.522413e-05      5.007323  ...           0.005049    True    -1.750200

[5 rows x 7 columns]

In [160]:
sapsd_fdr_bh_2.shape[0]

524